*.tfstate
*.tfstate.backup

crash.log
crash.*

.terraformrc
terraform.rc

.terraform/
.terraform.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.tfvars
*.auto.tfvars

*.pem
*.key

*.swp
*.swo
*.DS_Store
*.vscode/
.idea/
